//Colors
$c-primary: #e2dada;
$c-black: #525252;
$c-background: #f5f5f5;
$c-border: #949494;
$c-active: #1bcd97;
$c-white: #ffffff;

//Font-sizes
$fs-small: 8px;
$fs-medium: 16px;
$fs-large: 32px;
$fs-x-large: 64px;

//Font-weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-heavy: 900;

//Spacing
$gap-xxs: 8px;
$gap-xs: 12px;
$gap-s: 16px;
$gap-m: 20px;
$gap-l: 24px;
$gap-xl: 32px;
$gap-xxl: 48px;
